@charset "utf-8";

.vo1 {
  background-color: #ff0000;
  width: 400px;
  height: 100px;
}

.vo2 {
  background-color: #00ff1e;
  width: 150px;
  height: 250px;
  float: left;
}

.vo3 {
  background-color: #3300ff;
  width: 250px;
  height: 250px;
  float: left;
}

.vo4 {
  background-color: #ffe600;
  width: 400px;
  height: 100px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}